'body':
  'ctrl-tab': 'pane:show-next-item'
  "ctrl-tab ^ctrl": 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-1': 'window:focus-pane-on-left'
  'ctrl-2': 'window:focus-pane-on-right'
  'ctrl-k ctrl-left': 'pane:split-left-and-copy-active-item'
  'ctrl-k ctrl-right': 'pane:split-right-and-copy-active-item'

'atom-workspace':
  'ctrl-shift-alt-h': 'core:move-left'
  'ctrl-shift-alt-j': 'core:move-down'
  'ctrl-shift-alt-k': 'core:move-up'
  'ctrl-shift-alt-l': 'core:move-right'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-{': 'editor:fold-current-row'
  'ctrl-}': 'editor:unfold-current-row'
  'ctrl-up': 'unset!'
  'ctrl-down': 'unset!'

'atom-text-editor':
  'alt-f': 'unset!'
  'alt-h': 'unset!'

'atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'

'.platform-win32 .find-and-replace, .platform-linux .find-and-replace':
  'ctrl-alt-r': 'find-and-replace:toggle-regex-option'

'.platform-win32 .project-find, .platform-linux .project-find':
  'ctrl-alt-r': 'project-find:toggle-regex-option'
